dist: trusty
sudo: false

language: node_js
node_js:
  - "8"

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

cache:
  directories:
     - ./node_modules

script:
  # Use Chromium instead of Chrome.
  - export CHROME_BIN=chromium-browser
  - npm install
  - xvfb-run -a npm run ci

# after_script:
#   - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
