@import "variables";

div {
  position: relative;

  &:after {
    content: ">";
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 15px;
    line-height: $line-height;
  }

  textarea {
    width: 100%;
    border: none;
    resize: none;
    overflow: hidden;
    text-indent: 16px;
    line-height: $line-height;

    &:focus {
      outline: none;
    }
  }

}

