@import "variables";

.terminal-prompt-container {
  position: relative;

  textarea {
    width: 100%;
    margin-top: -3px;
    border: none;
    resize: none;
    overflow: hidden;
    text-indent: 16px;
    line-height: $line-height;

    &:focus {
      outline: none;
    }
  }
}
